<%= link_to 'menu'%>

<% if @profile.social_name.blank? %>
  <h1> <%= @profile.full_name %> </h1>
<% end %>

<h3><%= @profile.social_name %></h3>

<div><%= @profile.birth_date %></div>
<div><%= @profile.educational_background %></div>
<div><%= @profile.work_field %></div>
<div><%= @profile.about_me %></div>
<div><%= @profile.work_experience %></div>
<%# <div><%= @profile.photo %></div> %>

<%= link_to 'Candidate-se para um projeto.' %>