<h1> Tech Freelancers </h1>

<h2> Encontre profissionais de tecnologia para seus projetos! </h2>
<% if owner_signed_in? %>
  <%= link_to 'Meus Projetos', my_projects_projects_path, class: "btn btn-success" %>
  <%= link_to 'Publique um projeto', new_project_path, class: "btn btn-success" %>
<% else %>
  <%= link_to 'Publique um projeto', new_owner_session_path, class: "btn btn-success" %>
<% end %>





<h2> Encontre um projeto e faça sua proposta!</h2>

<% @projects.each do |projeto| %>
  <div><%= link_to projeto.title, project_path(projeto.id) %></div>
<% end %>

<div><% if @projects.blank? %>
    Não há projetos disponiveis no momento.
<% end %></div>

<% if freelancer_signed_in? %>
  <% if !current_freelancer.profile.blank? %>
    <%= 'Procure um projeto para se candidatar' %>
    <% if current_freelancer.profile.proposals.any? %>
      <%= link_to 'Propostas enviadas', my_proposals_freelancer_proposals_path, class: "btn btn-success" %>
    <% end %>
  <% else %>
    <div><%= link_to 'Candidate-se para um projeto!', new_profile_path, class: "btn btn-success" %></div>
  <% end %>
<% else %>
  <div><%= link_to 'Candidate-se para um projeto!', new_freelancer_session_path, class: "btn btn-success" %></div>
<% end %>
