<% if @project.errors.any? %>
  <% @project.errors.full_messages.each do |error| %>
    <div><%= error %></div>
  <%end%>
<% end %>

<%= form_with model: @project do |form| %>

  <div class="input-group mb-3">
    <span class="input-group-text">
      <%= form.label :title, 'Título', class: "text-primary" %>
      <span class="col-sm-10">
        <%= form.text_field :title, class: "form-control" %>
      </span>
    </span>
  </div>
  
  <%= form.label :description, 'Descrição', class: "input-group-text"%>
  <%= form.text_field :description, class: "form-control" %>
  <br>


  <%= form.label :desire_habilities, 'Habilidades desejadas', class: "input-group-text" %>
  <%= form.text_field :desire_habilities, class: "form-control" %>
  <br>

  <div class="input-group mb-3">
    <span class="input-group-text">
      <%= form.label :max_hour_payment, 'Valor maximo por hora', class: "text-primary" %>
    </span>
    <span class="input-group-text">
      <%= form.number_field :max_hour_payment, class: "form-control" %>.00
    </span>
  </div>

  <div class="input-group mb-3">
    <span class="input-group-text">
      <%= form.label :deadline_for_proposals, 'Data limite para proposta', class: "text-primary" %>
    </span>
    <span class="input-group-text">
      <%= form.text_field :deadline_for_proposals,  class: "form-control"  %>
    </span>
  </div>


  <div class="row mb-3">
    <div class="col-sm-10 offset-sm">
      <div class="form-check">
        <%= form.check_box :face_to_face, class: "form-check-input" %>
        <%= form.label :face_to_face, 'Presencial', class: "form-check-label" %>
      </div>

      <div class="form-check">
        <%= form.check_box :remote, class: "form-check-input" %>
        <%= form.label :remote, 'Remoto', class: "form-check-label" %>
      </div>
    </div>
  </div>

  <%= form.submit 'Cadastrar', class: "btn btn-primary mb-3" %>
<% end %>

