<% if @project.errors.any? %>
  <% @project.errors.full_messages.each do |error| %>
    <div><%= error %></div>
  <%end%>
<% end %>

<div class="input-group">
<%= form_with model: @project do |form| %>

  <div class="input-group mb-3">
    <span class="input-group-text" id="basic-addon1">
      <%= form.label :title, 'Título:' %>
    </span>
    <input type="text" class="form-control">
    <% form.text_field :title %>
  </div>

  <span class="input-group-text">
  <%= form.label :description, 'Descrição:' %>
  </span>
  <textarea class="form-control" aria-label="With textarea">
  <% form.text_field :description %>
  </textarea>

  <span class="input-group-text">
  <%= form.label :desire_habilities, 'Habilidades desejadas:' %>
  </span>
  <textarea class="form-control" aria-label="With textarea">
  <% form.text_field :desire_habilities %>
  </textarea>

  <div class="input-group mb-3">
    <span class="input-group-text">
      <%= form.label :max_hour_payment, 'Valor maximo por hora:' %>
    </span>
    <span class="input-group-text">
      <input type="text" class="form-control">
      <% form.number_field :max_hour_payment %>.00
    </span>
  </div>
  <span class="input-group-text">
  <%= form.label :deadline_for_proposals, 'Data limite para proposta:' %>
  </span>
  <textarea class="form-control" aria-label="With textarea">
  <% form.text_field :deadline_for_proposals %>
  </textarea>
  <%= form.check_box :face_to_face %>
  <%= form.label :face_to_face, 'Presencial' %>
  <%= form.check_box :remote %>
  <%= form.label :remote, 'Remoto' %>
  <%= form.submit 'Cadastrar' %>
</div>
<% end %>

