<h1><%= @project.title %></h1>

<h5><%= @project.description %></h5>

<div>Habilidades desejadas: <%= @project.desire_habilities %></div>
<div>Valor maximo por hora: <%= number_to_currency(@project.max_hour_payment) %></div>
<div>Data limite para proposta: <%= l(@project.deadline_for_proposals) %></div>
<div>
Presencial: 
<% if @project.face_to_face? %>
  Sim 
<% else %>
  Não	
<% end %>
</div>
<div>
Remoto: 
<% if @project.remote? %>
  Sim 
<% else %>
  Não	
<% end %>
</div>

<% if current_freelancer.present? %>
  <h2><%= link_to 'Enviar Proposta', new_proposal_path %></h2>
<% end %>

<div><%= link_to 'Voltar', root_path %></div>