<h1><%= @project.title %></h1>

<h5><%= @project.description %></h5>

<div>Habilidades desejadas: <%= @project.desire_habilities %></div>
<div>Valor maximo por hora: <%= number_to_currency(@project.max_hour_payment) %></div>
<div>Data limite para proposta: <%= l(@project.deadline_for_proposals) %></div>
<div>
Presencial: 
<% if @project.face_to_face? %>
  Sim 
<% else %>
  Não	
<% end %>
</div>
<div>
Remoto: 
<% if @project.remote? %>
  Sim 
<% else %>
  Não	
<% end %>
</div>


<% if current_freelancer.present? %>
  <h1><%= 'Mande uma proposta para esse projeto!' %></h1>
   <%= form_with model: [@project, @proposal] do |form| %>
    <%= form.label :motivation, 'Conte porque está aplicando para o projeto' %>
    <%= form.text_field :motivation %><br>
    <%= form.label :hourly_rate, 'Valor hora' %>
    <%= form.number_field :hourly_rate %><br>
    <%= form.label :hours_per_week, 'Horas diponiveis por semana' %>
    <%= form.number_field :hours_per_week %><br>
    <%= form.label :weeks, 'Semanas para termino' %>
    <%= form.number_field :weeks %><br>
    <%= form.submit 'Enviar', class: "btn btn-success" %>
  <% end %>
<% elsif current_owner.present? %>
    <% current_owner.proposals.each do |proposta| %>
      <%= link_to proposta.profile.full_name, proposal_path(proposta.id) %>
    <% end %>
<% end %>

<div><%= link_to 'Voltar', root_path %></div>