<h1><%= @project.title %></h1>

<h3><%= @project.description %></h3>

<h3>Habilidades desejadas: <%= @project.desire_habilities %></h3>
<div>Valor maximo por hora: <%= number_to_currency(@project.max_hour_payment) %></div>
<div>Data limite para proposta: <%= l(@project.deadline_for_proposals) %></div>
<div>
Presencial: 
<% if @project.face_to_face? %>
  Sim 
<% else %>
  Não	
<% end %>
</div>
<div>
Remoto: 
<% if @project.remote? %>
  Sim 
<% else %>
  Não	
<% end %>
</div>


<h2><%= link_to 'Enviar Proposta' %></h2>

<div><%= link_to 'Voltar', root_path %></div>