<% if @proposal.errors.any? %>
  <% @proposal.errors.full_messages.each do |error| %>
    <div><%= error %></div>
  <%end%>
<% end %>

<%= form_with model: @proposal do |form| %>
    <%= form.label :feed_back, 'Porfavor escreva um feedback de porque você recusou' %>
    <%= form.text_field :feed_back %>
    <%= form.submit 'Enviar' %><br>
<% end %>