<div><%=  @proposal.motivation %></div>
<div>Tarifa por hora: <%= number_to_currency(@proposal.hourly_rate) %></div>
<div>Horas disponiveis por semana: <%= @proposal.hours_per_week %></div>
<div>Expectativa de praço: <%= @proposal.weeks %> semanas</div>

<% if owner_signed_in? %>
<div><h5>Veja o perfil de <%= link_to @proposal.profile.full_name, profile_path(@proposal.profile.id) %></h5></div>
  <% if @proposal.draft? %>
    <%= button_to 'Aceitar', status_accepted_proposals_path(@proposal), method: @proposal.accepted! %>
    <%= button_to 'Recusar', status_turned_down_proposals_path(@proposal), method: @proposal.turned_down! %>
  <% elsif @proposal.accepted? %>
     <div><%= link_to 'mande uma mensagem' %></div>
  <% else %>
    <%= form_with model: @proposal do |form| %>
      <%= form.label :feed_back, 'Porfavor escreva um feedback de porque você recusou' %>
      <%= form.text_field :feed_back %>
      <%= form.submit 'Enviar' %><br>
    <% end %>
  <% end %>
<% end %>

