<div><%=  @proposal.motivation %></div>
<div>Tarifa por hora: <%= number_to_currency(@proposal.hourly_rate) %></div>
<div>Horas disponiveis por semana: <%= @proposal.hours_per_week %></div>
<div>Expectativa de praço: <%= @proposal.weeks %> semanas</div>

<% if owner_signed_in? %>
  <h5>Veja o perfil da</h5>
  <div><%= link_to @proposal.profile.full_name, profile_path(@proposal.profile.id) %></div>
  <div>
  <% if @proposal.draft? %>
    <%= button_to 'Aceitar', status_accepted_proposals_path(@proposal), method: @proposal.accepted! %>
    <%= button_to 'Recusar', status_turned_down_proposals_path(@proposal) %>
  <% elsif @proposal.accepted? %>
    <div><%= link_to 'mande uma mensagem' %></div>
  <% else %>
    <% reirect_to feedback_path %>
  <% end %>
  </div>
<% end %>

