<section class="text-body">
<h6 class="text-center"><%=  @proposal.motivation %></h6>
<dl>
<dt><%= t('.hourly_rate')%> <%= number_to_currency(@proposal.hourly_rate) %></dt>
<dt><%= t('.hours_per_week')%><%= @proposal.hours_per_week %></dt>
<dt><%= t('.weeks')%><%= @proposal.weeks %> semanas</dt>
<b><i><dt><%= 'Valor total da proposta: ' %><%=  number_to_currency @proposal.total_value%></dd></b></i>
</dd>
</section>

<% if owner_signed_in? %>
<div><h5>Veja o perfil de <%= link_to @proposal.profile.full_name, profile_path(@proposal.profile.id) %></h5></div>
  <% if @proposal.draft? %>
    <%= button_to 'Aceitar', {action: 'accept', id: @proposal.id }, method: :patch %>
    <%= button_to 'Recusar', {action: 'turn_down', id: @proposal.id }, method: :patch %>
  <% elsif @proposal.accepted? %>
    <div><%= link_to 'Mande uma mensagem' %></div>
  <% else %>
    <div><%= 'Seu feedback foi enviado com sucesso' %></div>
    <div><%= @proposal.feed_back %></div>
  <% end %>
<% end %>

<section class="container-fluid">
  <% if freelancer_signed_in? %>
    <% if @proposal.accepted? %>
     <div class="p-3 mb-2 bg-success text-white"><i><h6 class="text-center"><%= 'Sua proposta foi aceita!' %></h6></i></div><hr/>
      <div class="alert alert-success"><%= link_to 'Enviar menssagem para o dono do projeto' %></div>
    <% elsif @proposal.turned_down? %>
      <div class="p-3 mb-2 bg-warning text-dark"><i><h6 class="text-center"><%= 'Sua proposta foi recusada.' %></h6></i></div><hr/>
      <div class="alert alert-warning"><%= t('.feed_back') + ': '%><%= @proposal.feed_back %></div>
    <% else %>
      <%= 'Sua proposta está sendo avaliada pelo dono do projeto' %>
    <% end  %>
  <% end %>
</section>