<div><%=  @proposal.motivation %></div>
<div>Tarifa por hora: <%= number_to_currency(@proposal.hourly_rate) %></div>
<div>Horas disponiveis por semana: <%= @proposal.hours_per_week %></div>
<div>Expectativa de praço: <%= @proposal.weeks %> semanas</div>

<% if owner_signed_in? %>
<div><h5>Veja o perfil de <%= link_to @proposal.profile.full_name, profile_path(@proposal.profile.id) %></h5></div>
  <% if @proposal.draft? %>
    <%= button_to 'Aceitar', {action: 'accept', id: @proposal.id }, method: :patch %>
    <%= button_to 'Recusar', {action: 'turn_down', id: @proposal.id }, method: :patch %>
  <% elsif @proposal.accepted? %>
    <div><%= link_to 'mande uma mensagem' %></div>
  <% else %>
    <div><%= 'Seu feedback foi enviado com sucesso' %></div>
    <div><%= @proposal.feed_back %></div>
  <% end %>
<% end %>

