<div><%=  @proposal.motivation %></div>
<div>Tarifa por hora: <%= number_to_currency(@proposal.hourly_rate) %></div>
<div>Horas disponiveis por semana: <%= @proposal.hours_per_week %></div>
<div>Expectativa de praço: <%= @proposal.weeks %> semanas</div>

<% if owner_signed_in? %>
  <div><%= link_to @proposal.profile.full_name, profile_path(@proposal.profile.id) %></div>
  <div>
  <% if @proposal.draft? %>
    <%= link_to 'Aceitar', @proposal.accepted! %>
    <%= link_to 'Recusar', @proposal.turned_down! %>
  <% end %>
  </div>
<% end %>